.banda {
    padding-left: 30px;    
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F5F5F5;
}
.bandb {
    padding-left: 30px;    
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FFFAFA;			
}